<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294688321968-n8rr6r6dupmp1dju9h91jh09ala2crt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294688321968-n8rr6r6dupmp1dju9h91jh09ala2crt1</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3_QCJ701KkgftOWRQgP9Lv7O5ZP_eo8</string>
	<key>GCM_SENDER_ID</key>
	<string>294688321968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.original.fluxstore</string>
	<key>PROJECT_ID</key>
	<string>gleb-s-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>gleb-s-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294688321968:ios:82659d158bab2e0b74a675</string>
	<key>DATABASE_URL</key>
	<string>https://gleb-s-projects.firebaseio.com</string>
</dict>
</plist>